.Google-logo {

    display: block;
    margin: 9%;
    margin-left: 39%;
    margin-top: 8%;
    padding: 20px;
    width: 20%;
    top: 50%;
    left: 50%;  

  }
  .main {
    position: absolute;
    top: 50%;
    left: 50%;


  }
  
body {

      font-family: sans-serif;

      background-color: #ffffff;

      }
      
form {
        width: 400px;
        margin: auto;
        margin-top: 25px;

        
      }
      
input {
        padding: 4px 10px;
        border: 0;
        font-size: 16px;
       
      }
      
.search {
        width: 75%;
        border: black;
      }
    